<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/app.css">
    <title>Fastify Now</title>
</head>
<body>
    <div>Fastify on Zeit Now 2.0 !</div>
</body>
</html>